.comment {
    width: 80%;
    padding: 1rem;
}

.comment-info {
    width: 80%;
}

.comment-box {
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: var(--theme-color-01);
    border: 1px solid var(--theme-color-05);
}

.comment-footer {
    text-align: end;
    margin-top: 1rem;
    width: 100%;
}


.comment-form {
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: red;
}

.comment-form textarea {
    width: 100%;
}
