.header {
    height: var(--header-height);
    width: 100%;
    background-color: var(--theme-color-02);
    margin-bottom: 1rem;
}

.header-nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}