.item-info {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(185, 170, 255);
    margin-bottom: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.item-sumnail {
    height: 130px;
    width: 130px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.item-text {
    line-height: 2rem;
    margin-left: 3rem;
}