.search-box {
    position: relative;
    margin-bottom: 1rem;
}

.search {
    border: 1px solid var(--theme-color-03);
    padding: 1rem;
}


.search input {
    border: none;
}

.search input:focus {
    border: none;
}

.search-dropmenu {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    background-color: var(--theme-color-01);
    border: 1px solid var(--theme-color-03);
    border-top: none;
    transition: all ease 0.7s;
}

.search-dropmenu::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.search-dropmenu::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: var(--theme-color-05); /* 스크롤바의 색상 */
    border-radius: 10px;
}

.search-dropmenu::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.mini-sumnail {
    height: 40px;
    width: 40px;
    margin-right: 1rem;

}

.drop-item {
    display: flex;
    padding: 0.8rem 1rem;
    align-items: center;
    border-bottom: solid 1px var(--theme-color-03);
}

.no-search {
    text-align: center;
    padding: 3rem;
}


