<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <title>EZ2LEVEL</title>
</head>

<body>

<div class="header">

  <div class="header-nav container">
    <h1><a th:href="@{/}">EZ2LEVEL</a></h1>
    <ul>
    </ul>

  </div>
</div>

  <div class="info-content container">

    <div class="item-info">

      <img class="item-sumnail" th:src="${music.getRe_sumnail()}" />
      <div class ="item-text">

        <div class="text-column">
          <div class="item-column"><h2>악곡번호</h2></div>
          <div class="item-column"><h2 class="music_num" th:text="${music.getRe_num()}">악곡번호</h2></div>
        </div>

        <div class="text-column">
          <div class="item-column"><h2>제목</h2></div>
          <div class="item-column"><h2 th:text="${music.getRe_name()}">제목</h2></div>
        </div>

        <div class="text-column">
          <div class="item-column"><h2>장르</h2></div>
          <div class="item-column"><h2 th:text="${music.getRe_genre()}">장르</h2></div>
        </div>

        <div class="text-column">
          <div class="item-column"><h2>BPM</h2></div>
          <div class="item-column"><h2 th:text="${music.getRe_bpm()}">BPM</h2></div>
        </div>

        <div class="text-column">
          <div class="item-column"><h2>작곡가</h2></div>
          <div class="item-column"><h2 th:text="${music.getRe_author()}">작곡가</h2></div>
        </div>

        <div class="text-column">
          <div class="item-column"><h2>패턴타입</h2></div>
          <div class="item-column">
            <h2 class="music_pattern" >폭타</h2>
            <h2 class="music_pattern" >후살</h2>
          </div>
        </div>

        <div class="text-column">
          <div class="item-column"><h2>수록테마</h2></div>
          <div class="item-column"><h2 th:text="${music.getCa_name()}">수록테마</h2></div>
        </div>

        <div class="text-column">
          <div class="item-column"><h2>평가난이도</h2></div>
          <div style="color: red;" class="item-column"><h2 th:text="${music.getRe_level()}"></h2></div>
        </div>


      </div>
    </div>

    <div class="item-info container">
      <div class="info-header">
        <div class="infomation-title"><h3>정보</h3></div>
        <p style="text-align: center;" th:utext="${music.getRe_info()}"></p>
      </div>
    </div>

    <div class="item-info container">
      <div class="info-header">

        <div class="infomation-title"><h3>동영상</h3></div>
        <iframe width="560" height="315" th:src="${music.getRe_video()} + '?controls=2'"
              frameborder="0" allow="accelerometer encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="item-info container">
      <div class="info-header">
        <div class="infomation-title"><h3>난이도정보</h3></div>
        <table class="level-info">
          <thead>
          <th>모드/난이도</th>
          <th>EZ</th>
          <th>NM</th>
          <th>HD</th>
          <th>SHD</th>
          </thead>

          <tbody>
          <td>4 KEY</td>
          <td th:text="*{btnlevels.get(0).get(0)}"></td>
          <td th:text="${btnlevels.get(0).get(1)}"></td>
          <td th:text="${btnlevels.get(0).get(2)}"></td>
          <td th:text="${btnlevels.get(0).get(3)}"></td>
          </tbody>

          <tbody>
          <td>5 KEY</td>
          <td th:text="*{btnlevels.get(1).get(0)}"></td>
          <td th:text="${btnlevels.get(1).get(1)}"></td>
          <td th:text="${btnlevels.get(1).get(2)}"></td>
          <td th:text="${btnlevels.get(1).get(3)}"></td>
          </tbody>

          <tbody>
          <td>6 KEY</td>
          <td th:text="*{btnlevels.get(2).get(0)}"></td>
          <td th:text="${btnlevels.get(2).get(1)}"></td>
          <td th:text="${btnlevels.get(2).get(2)}"></td>
          <td th:text="${btnlevels.get(2).get(3)}"></td>
          </tbody>

          <tbody>
          <td>8 KEY</td>
          <td th:text="*{btnlevels.get(3).get(0)}"></td>
          <td th:text="${btnlevels.get(3).get(1)}"></td>
          <td th:text="${btnlevels.get(3).get(2)}"></td>
          <td th:text="${btnlevels.get(3).get(3)}"></td>
          </tbody>
        </table>
        <p style="text-align: center;">해당 난이도는 Standard 기준입니다.</p>
      </div>
    </div>




    <div class="comment-info maring-auto container">
      <div class="maring-auto" style="width: 80%; padding: 1rem;"><h1>COMMENT</h1></div>
      <div class="comment maring-auto">
        <th:block th:if="${comments.size == 0}">
          <p style="text-align: center">현재 해당 음악에는 아무런 평가가 입력되지 않았습니다. 평가를 내려주세요</p>
        </th:block>
      <th:block th:each="comment : ${comments}">
        <div class="comment-box">
          <p th:text="${comment.getCo_content()}"></p>
          <div class="comment-footer">
            <p th:text="'평가 난이도 : ' + ${comment.getCo_level()} + '/100'"></p>
          </div>
        </div>
      </th:block>
      </div>

      <div class="comment-pagenav maring-auto">
        <div class="prev"></div>
        <div class="pageitem"></div>
        <div class="next"></div>
      </div>

      <div class="comment-form maring-auto">
        <textarea id="commentText" placeholder="현재 베타버전으로 로그인없이 익명으로 작성할수 있습니다."></textarea>
        <div>
        <label>평가난이도</label>
        <input id="commentLevel" type="number" max="100" min="1" oninput="commentlevelMax(this.value)"/>
        <button type="button"  th:onclick="'comment('+${musicNumber} + ')'">제출</button>
          <p class="comment-error-message"></p>
        </div>

      </div>

    </div>
  </div>

<div class="footer-info">
  <div class="footer-text container">
    <p>사이트 내 사용된 모든 게임 컨텐츠의 저작권은 NEONOVICE에 있습니다.</p>
  </div>

<script th:src="@{/js/commentPagenation.js}"></script>
<script th:src="@{/js/comment.js}"></script>
</body>
</html>