<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <title>ez2onlevel</title>
</head>

<body>
<div class="header">

  <div class="header-nav container">
    <h1>EZ2LEVEL</h1>
    <ul>

    </ul>

  </div>
</div>

  <div class="info-content container">

    <div class="item-info">

      <img class="item-sumnail" th:src="${music.getRe_sumnail()}" />
      <div>
        <ul class="item-text">
          <li th:text="${music.getRe_author()}">장르 : Artcore</li>
          <li>BPM : 195</li>
          <li>작곡가 : ARForest</li>
          <li>패턴타입 : 연타</li>
          <li>수록곡 : EC2?</li>
          </ul>
        </div>

      </div>

    </div>

    <div class="item-info container maring-auto">버튼별난이도</div>
    <div class="item-info container maring-auto">키별 곡순위 4 KEY : 1등</div>


    <div class="comment-info maring-auto container">

      <div class="comment maring-auto">
        <p>연타진짜 무섭네 ㄷㄷ;</p>
        <div class="comment-footer">평가난이도 : 40/100</div>
      </div>

      <div class="comment-form maring-auto">
        <textarea id="commentText"></textarea>
        <div>
        <label>난이도</label>
        <input id="commentLevel" type="text"/>
        <button type="button"  th:onclick="'comment('+${musicNumber} + ')'">제출</button>
        </div>

      </div>

    </div>

<script th:src="@{/js/comment.js}"></script>
</body>
</html>