<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cca4aa8399.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>EZ2LEVEL</title>
</head>

<body>
<div class="header">

    <div class="header-nav container">
        <h1><a th:href="@{/}">EZ2LEVEL</a></h1>

        <th:block th:unless="${not #strings.isEmpty(session.userid)}">
        <ul class="login">
            <a th:href="@{/login}"><h2>로그인</h2></a>
        </ul>
        </th:block>

        <th:block th:if="${not #strings.isEmpty(session.userid)}">
            <div  class="mypage">
                <h2 id="mypage">마이페이지</h2>
                <ul id="mypage-drop" class="mypage-drop">
                    <li><p>옵션</p></li>
                    <li><p>옵션</p></li>
                    <li><form th:action="@{/logout}" method="post">
                    <button><p>로그아웃</p></button>
                    </form></li>
                </ul>
            </div>

        </th:block>

    </div>
</div>

<div class="content container">


        <div class="side-nav">

            <div class="search-box">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input id="main-search" type="text"  placeholder="악곡이름을 검색하세요"/>
                </div>
                <div class="search-dropmenu">
<!--                    Java Script : search.js-->
                </div>
            </div>
            <div class="option-rank">
                <div class="option-h">
                    <h3>랭킹</h3>
                    <i class="far fa-question-circle"></i></div>
                <ul class="option-ul">
                    <li><a onclick="totalRankBtn()">전체랭킹</a></li>
                    <li><a onclick="drawButtonRank('4K')">버튼별랭킹</a></li>
                    <li><a onclick="DLCRankBtn(1)">Time Traveler</a></li>
                    <li><a onclick="DLCRankBtn(2)">CodeName Violet</a></li>
                    <li><a onclick="DLCRankBtn(3)">Prestige Pass</a></li>
                    <li><a onclick="DLCRankBtn(4)">O2JAM 콜라보</a></li>
                    <li><a onclick="DLCRankBtn(5)">Groove Coaster 콜라보</a></li>
                    <li><a onclick="DLCRankBtn(6)">Endless Circulation</a></li>
                </ul>
            </div>

            <div class="option-rank">
                <div class="option-h"><h3>옵션</h3></div>
                <ul class="option-ul">
                    <li><a th:href="@{/result}">성과입력(준비중)</a></li>

                </ul>
            </div>

        </div>


        <div class="content-item">
            <!--            JavaScript : main_TotalRank.js-->


        </div>
</div>
<div class="footer-info">
    <div class="footer-text container">
        <p>사이트 내 사용된 모든 게임 컨텐츠의 저작권은 NEONOVICE에 있습니다.</p>
    </div>

</div>

<script th:src="@{/js/main-rank/main_TotalRank.js}"></script>
<script th:src="@{/js/main-rank/totalRankHTML.js}"></script>
<script th:src="@{/js/main-rank/main_DLCRank.js}"></script>
<script th:src="@{/js/main-rank/dlcRankHTML.js}"></script>
<script th:src="@{/js/main-rank/main_KeyRank.js}"></script>
<script th:src="@{/js/main-rank/keyRankHTML.js}"></script>
<script th:src="@{/js/search.js}"></script>
<script th:src="@{/js/mypage.js}"></script>
</body>
</html>